{% extends 'style.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="searchLine">
        {{ form(form) }}
    </div>
    <div class="imgList" id="imgList">
        {% for post in data %}
            <div class="imgDiv">
                <h4>{{ post.data.title | truncate(25) }}</h4>
                <p>Автор:{{ post.data.author }}</p>
                <p>Дата создания:{{ post.data.created_utc | date('Y-m-d H:i:s') }}</p>
                {% if post.data.thumbnail == 'self' or post.data.thumbnail == 'default'  %}
                    <img class="postImg" src="https://techcrunch.com/wp-content/uploads/2012/11/09y97o90fkuqqas68g5y1.png?w=730&crop=1" alt="reddit_img"">
                {% else %}
                    <img class="postImg" src="{{ post.data.thumbnail }}" alt="">
                {% endif %}
                <p><a href="{{ path('app_basic_post', {'name' : post.data.name }) }}" class="btn btn-primary" style="margin: 10px">Подробнее</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
