{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv">
        <h1>Авторизация</h1>
    </div>
        <div class="mainDiv">
            {{ form_start(form, {'attr': {'class': 'form-control'}}) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{'attr' : {'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password,{'attr' : {'class':'form-control'}}) }}
            </div>
                {{ form_widget(form.save,{'attr' : {'class':'form-control btn btn-primary'}}) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
{% endblock %}