{% extends 'style.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv">
        <p>Автор:{{ data.author }}</p>
        <p>{{ data.title }}</p>
        <p>Создано:{{ data.created_utc | date('Y-m-d H:i:s') }}</p>
        <p>В избранном у: {{ count.caunto }} человек</p>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <button class="postButton">Добавить в избранное</button>
        {% endif %}
        <img class="postImg" src="{{ data.url }}" alt="">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let name = '{{ data.name }}';
        $('.postButton').on('click', function () {
            $.get('../favourite/add', {'name' : name}, function (data) {
                if(data === false){
                    $('<p>Успешно добавлено в избранное</p>').insertBefore($('.postButton'));
                }else if(data === true){
                    $('<p>Уже в избранном</p>').insertBefore($('.postButton'));
                }
            })
        })
    </script>
{% endblock %}
