{% extends 'style.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="imgList" id="imgList">
        <div class="pages">
        {% for i in 1..pages %}
            |<a href="{{ path('app_favourite_view_society_favourites', {'page' : i }) }}">{{ i }}</a>
        {% endfor %}|
        </div>
    {% for post in posts %}
        <div class="imgDiv">
            <h4>{{ post.data.title | truncate(25) }}</h4>
            <p>{{ post.data.author }}</p>
            <p>{{ post.data.created_utc | date('Y-m-d H:i:s') }}</p>
            {% if post.data.thumbnail == 'self' or post.data.thumbnail == 'default'  %}
                <img class="postImg" src="https://techcrunch.com/wp-content/uploads/2012/11/09y97o90fkuqqas68g5y1.png?w=730&crop=1" alt="reddit_img">
            {% else %}
                <img class="postImg" src="{{ post.data.thumbnail }}" alt="">
            {% endif %}
            <p><a href="{{ path('app_basic_post', {'name' : post.data.name }) }}" class="btn btn-primary" style="margin: 10px">Подробнее</a></p>
        </div>
    {% endfor %}
    </div>

{% endblock %}


