{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        *{
            word-wrap:break-word;
        }
        BODY{
            margin: 0;
            background: darkgray;
        }
        .mainDiv{
            border: 5px solid silver;
            border-radius: 1%;
            max-width: 60%;
            background: white;
            text-align: center;
            padding: 20px 10px 10px;
            margin: 20px auto 30px;
        }
        .header{
            text-align: center;
            margin: 0 auto;
            padding: 12px;
            color: #ababab;
            background: #595959;
            z-index:5;
        }
        .header a{
            margin: 0 5px;
            color: white;
        }
        .imgDiv {
            border: 2px solid silver;
            width: 400px;
            height: 400px;
            border-radius: 2%;
            max-width: 600px;
            background: white;
            text-align: center;
            padding: 10px;
            display : inline-block;
            margin: 20px
        }
        .postImg {
            width: 100%;
            height: 200px;
            border-radius: 2%;
            background: white;
            text-align: center;
            padding: 5px;
            display : inline-block;
            margin: 5px
        }
        .imgDiv img{
            width: 85%;
        }
        .imgList{
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .searchLine{
            margin: 20px;
            display:flex;
            justify-content: center;
        }
        .pages{
            display:flex;
            align-items: center;
            justify-content: center;
            border: 2px solid silver;
            text-align: center;
            background: white;
            width: 100%;
            height: 50px;
            margin: 10px 19%;
        }
        .pages a{
            margin: 4px;
        }
    </style>
{% endblock %}
{% block body %}
    <header style="position: sticky; top: 0;">
        <div class="header" >

            <a href="{{ path('app_homepage') }}">Главная</a>|
            <a href="{{ path('app_favourite_view_society_favourites') }}">Избранное сообществом</a>|
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('app_favourite_view_my_favourites') }}">Избранное</a>|
                <a href="/logout"> Выйти</a>
            {% else %}
                <a href="{{ path('app_register') }}">Регистрация</a>|
                <a href="{{ path('app_login') }}" style="margin-left: 5px;">Авторизация </a>
            {% endif %}

        </div>
    </header>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
{% endblock %}
